In [1]:
#D13：Pandas Dataframe 的新增與刪除 (3/19更新)

In [2]:
import pandas as pd
import numpy as np

In [3]:
#Q1: 請接下列資料依照指定規則做合併：
#- 依照 fruit 欄位做合併
#- 依照 index 索引做合併

In [4]:
df1 = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'weight': ['high', 'medium', 'low'] * 3,
    'price': np.random.randint(0, 15, 9)
})

df2 = pd.DataFrame({
    'fruit': ['apple', 'orange', 'pine'] * 2,
    'weight': ['high', 'low'] * 3,
    'price': np.random.randint(0, 15, 6)
})
print(df1)
print(df2)

    fruit  weight  price
0   apple    high      9
1  banana  medium      3
2  orange     low      8
3   apple    high      6
4  banana  medium      4
5  orange     low      2
6   apple    high     10
7  banana  medium      5
8  orange     low     10
    fruit weight  price
0   apple   high      0
1  orange    low      5
2    pine   high      9
3   apple    low      7
4  orange   high      5
5    pine    low      3

In [5]:
#- 依照 fruit 欄位做合併
pd.merge(df1, df2, how='outer', on='fruit')

     fruit weight_x  price_x weight_y  price_y
0    apple     high      9.0     high      0.0
1    apple     high      9.0      low      7.0
2    apple     high      6.0     high      0.0
3    apple     high      6.0      low      7.0
4    apple     high     10.0     high      0.0
5    apple     high     10.0      low      7.0
6   banana   medium      3.0      NaN      NaN
7   banana   medium      4.0      NaN      NaN
8   banana   medium      5.0      NaN      NaN
9   orange      low      8.0      low      5.0
10  orange      low      8.0     high      5.0
11  orange      low      2.0      low      5.0
12  orange      low      2.0     high      5.0
13  orange      low     10.0      low      5.0
14  orange      low     10.0     high      5.0
15    pine      NaN      NaN     high      9.0
16    pine      NaN      NaN      low      3.0

In [17]:
#- 依照 index 索引做合併

     fruit  weight  price
0    apple    high      9
1   banana  medium      3
2   orange     low      8
3    apple    high      6
4   banana  medium      4
5   orange     low      2
6    apple    high     10
7   banana  medium      5
8   orange     low     10
9    apple    high      0
10  orange     low      5
11    pine    high      9
12   apple     low      7
13  orange    high      5
14    pine     low      3

In [7]:
#Q2:[簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

In [8]:
#Q3:[簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。